<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    span {float:left;}
    input {margin-left: 60px;}
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/members/join" th:object="${memberForm}" method="post">
        <div class="form-group">
            <span th:for="name">이름</span>
            <input type="text" th:field="*{name}" class="form-control w-50" placeholder="이름을 입력하세요">
        </div>

        <div class="form-group">
            <span th:for="id">아이디</span>
            <input type="text" th:field="*{id}" class="form-control w-50" placeholder="ID를 입력하세요">
        </div>

        <div class="form-group">
            <span th:for="password">비밀번호</span>
            <input type="password" th:field="*{password}" class="form-control w-50" placeholder="비밀번호를 입력하세요">
        </div>

        <!-- Address -->
        <div class="form-group">
            <span th:for="city">도시</span>
            <input type="text" th:field="*{address.city}" class="form-control w-50" placeholder="도시를 입력하세요">
        </div>
        <div class="form-group">
            <span th:for="street">거리</span>
            <input type="text" th:field="*{address.street}" class="form-control w-50" placeholder="거리를 입력하세요">
        </div>
        <div class="form-group">
            <span th:for="zipcode">우편번호</span>
            <input type="text" th:field="*{address.zipcode}" class="form-control w-50" placeholder="우편번호를 입력하세요">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="margin-top:10px;">회원가입</button>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
