<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <h1>마이페이지</h1>
    <div class="form-group">
        <label th:for="name">성함</label>
        <input type="text" th:field="*{memberForm.name}" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label th:for="address">주소</label>
        <input type="text" th:field="*{memberForm.address}" class="form-control" readonly>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>