<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    #wrap {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
</style>
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>

    <div>
        <a href="/">
            <h3 class="text-muted">HELLO SHOP!</h3>
        </a>

        <div id="wrap" class="w-100" th:if="${session.loginInfo != null}">
            <a th:href="@{/members/detail}" th:text="${session.loginInfo.id}" style="font-size:30px;"></a>
            <a th:href="@{/logout}" role="button" class="btn btn-primary">로그아웃</a>
            <a th:href="@{/carts}" role="button" class="btn btn-primary">장바구니</a>
        </div>
    </div>
</div>