<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h1>로그인</h1>
    <div>
        <div class="form-group">
            <span th:for="id">아이디</span>
            <input type="text" id="id" name="id" class="form-control" placeholder="ID를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="password">패스워드</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password를 입력하세요">
        </div>

        <div style="margin-top:5px;">
            <button type="button" class="btn btn-primary" onclick="login();">로그인</button>
            <a th:href="@{/members/join}" class="btn btn-primary" role="button">회원가입</a>
            <a href="#" class="btn btn-info" role="button">아이디/비밀번호 찾기</a>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script>
    function login() {
        let param = {};

        param.id = $('#id').val();
        param.password = $('#password').val();

        $.ajax({
            type: 'POST',
            url: "/login",
            dataType: "json",
            data: JSON.stringify(param),
            contentType: "application/json",
            success: function(data) {
                const result = data.login;
                if (result == true) {
                    location.href = '/';
                } else {
                    alert(data.message);
                    $('#password').val("");
                    $('#password').focus();
                }
            }
        });
    }
</script>
</body>
</html>